body{
background-color: rgb(122, 163, 200);
color: rgb(123, 70, 198);
font-size: 20px;
font-weight: 400;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{

    color: black;
}
a{
    font-weight: 500;
font-family: Arial, Helvetica, sans-serif;
color: rgb(15, 49, 43);

}

p{

color: rgb(43, 35, 115);

}
 
div{

color: blue;
background-color: rgb(153, 185, 245);
background-size: 500;
}